.title {
  font-weight: 300;
  margin: 0;
  margin-bottom: 30px;
  word-wrap: break-word;
  width: 100%;
  &_h1 {
    text-transform: uppercase;
    letter-spacing: 0.1em;
    font-size: 25px;
    color: $black;
    // padding-right: 45px;
    &:after {
      content: '—';
    }
  }
  &_h2 {
    font-size: 20px;
    font-weight: 400;
  }
  &_h3 {
    font-size: 11px;
    text-transform: uppercase;
    letter-spacing: 0.2em;
    writing-mode: tb-rl;
    transform:rotate(180deg);
    &:after {
      font-size: 14px;
      content: '—';
    }
  }
  &__margin {
    margin-top: 90px;
    @include breakpoint(sm) {
      margin-top: 0;
    }
  }
}