extends /app/templates/default

block main
  main
    .container
      .row.row_border
        +breadcrumbs({
          items: ['Главная', 'О нас']
        })
        +title({
          text: 'Студия архитектуры и дизайна Arno Architetture',
          tag: 'h1',
          mods: ['h1']
        })

        p Arno Architetture – международная студия архитектуры и дизайна, объединившая группу архитекторов и дизайнеров, работающих в Италии и России. Вот уже 8 лет наша компания официально присутствует на российском рынке.
        
        .row__wrapper.row__wrapper_about
          .row__item
            img(src="/img/about.png", alt="", data='parallax')
          .row__item
            +title({
              tag: 'div',
              text: 'О нас',
              mods: ['h3']
            })
            +title({
              tag: 'div',
              text: 'Специализация - авторский проект',
              mods: ['h1']
            })
            p Мы осуществляем полный цикл работ – от архитектуры, дизайна интерьера, декорирования до комплектации. Работаем с жилой и коммерческой недвижимостью.
            p Главный идеолог, автор и основатель студии в России, член Союза архитекторов Италии – архитектор ДЖУЗЕППЕ АРНОНЕ / GIUSEPPE ARNONE. 
            p Опыт его работы в архитектуре – более 30 лет, из них 12 лет – в России.
            p Авторский проект предполагает полный контроль и участие главного архитектора во всех его этапах. Чтобы уделить необходимое время и внимание каждому заказу, Джузеппе работает с ограниченным количеством проектов, концентрируясь на их креативности, качестве и проработке.

    .container.container_border
      .row.row_border
        +title({
          text: 'Почему идеальный проект рождается в сотворчестве',
          tag: 'h1',
          mods: ['h1']
        })
        p Для нас каждый архитектурный проект – это увлекательный поиск неповторимого решения и совместный творческий процесс. В работе архитектор всегда отталкивается не только от собственного опыта, но и от мнения своих заказчиков. 
        p Мы уверены, что только в сотворчестве, при вашем личном участии может родиться по-настоящему авторский проект. Ведь каждый имеет свою историю, и важно эту историю вплести в существующую реальность, чтобы создать идеальное пространство именно для вас и ваших близких. 
        p По этой причине, прежде чем приступить к фактическому процессу проектирования, мы начинаем общение с исследований ваших пожеланий, привычек и культурных традиций семьи. 

    .container.container_pampas
      +callback({
        title: 'Оперативно ответим на ваши вопросы',
        desc: 'Отправьте нам сообщение'
      })
        +btn({
          btn_link: 'javascript:void(0)',
          text: 'whatsapp',
          icon: 'whatsapp',
          add_Class: 'callback__btn'
        })
        +btn({
          btn_link: 'javascript:void(0)',
          text: 'viber',
          icon: 'viber',
          add_Class: 'callback__btn'
        })
      
    .container
      +garant({
        items: [{
          title: 'Ответственность',
          desc: 'Берем на себя работы по проектированию и ответственность за результат. Стремимся долгосрочным отношениям. В основе работы: юридическая гарантия качества наших услуг, официальный договор и платежи,  гарантия конфиденциальности для «закрытых» проектов.'
        },{
          title: 'Менеджмент',
          desc: 'Стратегический и четкий подход к проектированию, основанный на международных стандартах, делает сотрудничество с нашей компанией надежным. Мы возьмем под управление все процессы, объединим рабочие группы проекта. Вам останется только осуществлять контроль.'
        },{
          title: 'Ответственность',
          desc: 'Стремимся находить комфортные формы взаимоотношений, учитывающие деловой график заказчика. Для нас не представляет сложности реализация проектов в любой точке мира. Можем встречаться в нашем или вашем офисе, а также общаться удаленно.'
        }]
      })

    .container.container_border
      .row.row_border 
        +title({
          text: 'КТО БУДЕТ С ВАМИ РАБОТАТЬ',
          tag: 'h2',
          mods: ['h1']
        })
        p Все специалисты, работающие в студии, имеют фундаментальное образование – российское и европейское. Мы работаем вместе с 2011 года, несмотря на небольшой состав, у нас сыгранная творческая команда. 
        p Мы чувствуем себя единым целым – понимаем друг друга с полуслова, легко увлекаемся идеями и одинаково не приемлем шаблонов. Нам интересны проекты, в которых ставятся трудные и интересные задачи.
        p Сейчас с нами работают шесть человек, но благодаря разработанному алгоритму удаленного взаимодействия их число легко меняется – это дает возможность варьировать количество вовлеченных в проект специалистов в зависимости от его масштаба, сложности и места расположения. 
    
    .container
      .row.row_border
        +faces({
          items: [{
            src_foto: 'http://new.arnoarch.com/wp-content/uploads/2019/06/Dzhuzeppe-Arnone.jpg',
            who: 'ГЛАВНЫЙ АРХИТЕКТОР',
            name: 'Джузеппе Арноне'
          },{
            src_foto: 'http://new.arnoarch.com/wp-content/uploads/2019/06/Natalya-Arnone.jpg',
            who: 'РУКОВОДИТЕЛЬ ПРОЕКТОВ',
            name: 'Наталья Арноне'
          },{
            src_foto: 'http://new.arnoarch.com/wp-content/uploads/2019/06/Ilya-SHahnov.jpg',
            who: 'АРХИТЕКТОР ДИЗАЙНЕР',
            name: 'Илья Шахнов'
          },{
            src_foto: 'http://new.arnoarch.com/wp-content/uploads/2019/04/Massimiliano-Arnone-2-1_result.jpg',
            who: 'АРХИТЕКТОР',
            name: 'Массимильяно Арноне'
          },{
            src_foto: 'http://new.arnoarch.com/wp-content/uploads/2018/08/main-home-team-img5.jpg',
            who: 'АРХИТЕКТОР',
            name: 'Беттина Джели'
          },{
            src_foto: 'http://new.arnoarch.com/wp-content/uploads/2019/06/Pavel-Penkovoj.jpg',
            who: 'АУДИТОР ТЕХНАДЗОР',
            name: 'Павел Пеньковой'
          }]
        })

