.btn {
  display: inline-block;
  width: 100%;
  max-width: 160px;
  font-weight: 300;
  font-size: 11px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  color: $black;
  padding: 16px;
  background-color: $white;
  border: 1px solid $sisal;
  cursor: pointer;
  transition: 0.3s;
  text-decoration: none;
  box-sizing: border-box;
  text-align: center;
  &_big {
    max-width: 320px;
  }
  &_active,
  &:hover {
    background-color: $ebb;
  }
  &_form {
    background-color: transparent;
    padding: 15px 0;
    border: 0;
    border-bottom: 1px solid $black;
    margin-bottom: 5px;
    position: relative;
    color: $white;
    &:after {
      transition: transform .4s cubic-bezier(.13,.68,.05,.83),opacity .1s;
      content: '';
      position: absolute;
      top: 50%;
      right: 0;
      width: 30px;
      height: 1px;
      background-color: $white;
      transform: translateX(0px);
    }
    &:hover:after {
      transform: translate(-20px);
    }
    &:hover {
      background-color: transparent;
    }
  }
}