extends /app/templates/default

block main
  main
    .container
      .row.row_border
        +breadcrumbs({
          items: ['Главная', 'Услуги']
        })
        +title({
          text: 'Аудит пригодности земельного участка под строительство',
          tag: 'h1',
          mods: ['h2']
        })

        img.banner(src="../img/service_banner.png", alt="")
        
        .row__wrapper.row__wrapper_about
          .row__item
            img(src="../img/service_item.png", alt="", data='parallax')
          .row__item
            +title({
              tag: 'div',
              text: 'Услуга',
              mods: ['h3']
            })
            +title({
              tag: 'div',
              text: 'Аудит земельного участка: узнайте, подходит ли он для ваших целей',
              mods: ['h1']
            })
            p Опыт команды Arno Architetture показывает, что значительные потери заказчики несут после сделки, обнаруживая в ходе работ неожиданные обременения, особые условия со стороны муниципальных органов власти или местных управляющих компаний. 
            p Технический аудит от Arno Architetture позволяет адекватно оценить пригодность участка под застройку, а возможно, и снизить его стоимость с учетом выявленных рисков.

    .container.container_ebb
      .row
        blockquote Отсутствие всестороннего анализа повышает вероятность покупки земли по завышенной цене и приводит к внеплановым затратам на этапе реализации проекта.  

    .container
      .row
        +title({
            tag: 'div',
            text: 'Часто выявляемые риски',
            mods: ['h1']
          })
        .row__wrapper.row__wrapper_grid
          .row__item
            +list({
              items: [{
                text: 'Планируемая застройка участка не соответствует регламентам использования земель, идет в разрез с территориальным планированием и градостроительным зонированием'
              },{
                text: 'Разрешенная плотность застройки может ограничить объем возводимых строений – их площадь и этажность.'
              },{
                text: 'Участок может иметь обременения, санитарно – защитные зоны, природоохранные, охранные зон коммуникаций'
              },{
                text: 'Кроме санитарных норм, на размещение построек оказывают ограничивающее влияние противопожарные разрывы'
              },{
                text: 'По территории участка проходят инженерные коммуникации, вынос которых требует значительных затрат'
              },{
                text: 'Финансовая нестабильность девелопера, отсутствие инвестиций в развитие участка / поселка'
              }]
            })
          .row__item
              +list({
                items: [{
                  text: 'Нет возможности подключений к инженерным коммуникациям, либо существуют ограничения, значительно влияющие на стоимость и сроки реализации строительства'
                },{
                  text: 'Подтапливаемость территорий, сезонный режим эксплуатации водных объектов находящихся в близи участка'
                },{
                  text: 'Геоморфологическая картина района/участка. Топи, болота, пересыхающие летом и наполняющиеся водой в остальное время.'
                },{
                  text: 'Оползневые участки, оползневые овраги'
                },{
                  text: 'Проживание на участке ползучих гадов, кротов, и пр., требующих переселения с помощью экологов'
                },{
                  text: 'Оползневые участки, оползневые овраги'
                },{
                  text: 'Поражённый лесной массив, требующий дендрологического исследования'
                }]
              })

    .container
      .row
        +title({
          tag: 'div',
          text: '3 этапа технического аудита участка от Arno Architetture',
          mods: ['h1']
        })

        +stage({
          src_foto: '../img/stage-foto_1.png',
          title: 'Исследование и анализ участка',
          desc: 'Выезжаем на место, выявляем скрытые недостатки, проверяем ограничения и готовим аналитический отчет.'
        })
        +stage({
          src_foto: '../img/stage-foto_2.png',
          title: 'Разработка концепции строений и ландшафта',
          desc: 'Исходя из ваших потребностей и с учетом выявленных ограничений участка выстраиваем его объемно-планировочное решение. Вы увидите общую схему участка, расположение строений и подъездных путей. '
        })
        +stage({
          src_foto: '../img/stage-foto_3.png',
          title: 'Прогноз затрат',
          desc: 'Рассчитываем перечень и стоимость необходимых работ на участке до начала строительства. '
        })

    .container.container_ebb
      .row
        blockquote Отсутствие всестороннего анализа повышает вероятность покупки земли по завышенной цене и приводит к внеплановым затратам на этапе реализации проекта.

    .container
      .row
        +title({
          tag: 'div',
          text: 'Сообщения',
          mods: ['h1']
        })

        +callback-form({
          title: 'Связаться по данной услуге с руководителем проектов Натальей Арноне',
          desc: 'Отправьте ваше сообщение. <br>Мы оперативно ответим. Нажимая на кнопку Вы даете согласие на обработку персональных данных'
        })

    