$black: #000000;
$white: #FFFFFF;
$mercury: #E5E5E5;
$ebb: #ECE8E5;
$sisal: #D8CFBD;
$gray: #7E7E7E;
$silver_chalice: #A4A4A4;
$pampas: #EEEAE7;
$mine_shaft: #363636;


$breakpoints: (
  sm: 640px,
  md: 768px,
  lg: 1024px,
  xl: 1280px,
  xxl: 1366px,
);

@mixin breakpoint($value, $keyword: null) {
  @media screen and (max-width: map-get($breakpoints, $value)) {
    @content
  }
}