mixin header(data)
  header.header.container
    .row.header__wrap
      .header__logo 
        img(src='/img/'+data.logo, alt="Logo")
      nav
        .header__burger(data='menu')
          span
          span
        ul.header__menu
          each menu in data.menu_items
            li.header__menu-item
              a(href=menu.link, class=menu.status)
                != menu.text
  if data.slider_items
    .container
      .slider.slider_header
        each item in data.slider_items
          .slider__item(style='background-image: url('+ item.src_image +')')