.faces {
  display: flex;
  flex-wrap: wrap;
  margin: 0px -35px;
  &__item {
    max-width: calc(33.33% - 70px);
    width: 100%;
    margin: 0px 35px 30px;
    text-align: center;
    @include breakpoint(lg) {
      max-width: calc(50% - 70px);
    }
    @include breakpoint(sm) {
      max-width: calc(100% - 70px);
    }
  }
  &__foto {
    margin-bottom: 25px;
    height: 250px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  &__who {
    font-size: 11px;
    letter-spacing: 0.3em;
    color: $black;
    margin-bottom: 10px;
  }
  &__name {
    font-size: 18px;
    color: $black;
  }
}